<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>0xf27a8a</string>
	<key>2</key>
	<string>0x222222</string>
	<key>3</key>
	<string>0x444444</string>
	<key>4</key>
	<string>0x251f25</string>
	<key>5</key>
	<string>0xd2d2d2</string>
	<key>6</key>
	<string>0xf6f6f6</string>
	<key>7</key>
	<string>0xe8e8e8</string>
	<key>8</key>
	<string>0xffffff</string>
	<key>9</key>
	<string>0xaeaeae</string>
	<key>10</key>
	<string>0xf27a7b</string>
	<key>11</key>
	<string>0xffc488</string>
	<key>12</key>
	<string>0x666677</string>
	<key>13</key>
	<string>0x4894c2</string>
	<key>14</key>
	<string>0x000000</string>
</dict>
</plist>
